<!doctype html>
<html class="no-js" lang="en">
{% block body %}
    <head>
         <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('logo.ico')}}" />
        <title>
        {% block title %}
         Enablis
        {% endblock %}
        </title>
        {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('contact/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/animate.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/animate-heading.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/reset.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/meanmenu.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/et-line-icon.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/ionicons.min.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/material-design-iconic-font.min.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('contact/css/responsive.css')}}">
        <script src="{{ asset('contact/js/vendor/modernizr-2.8.3.min.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block section %}
        <!-- Contact Start -->
        
            <section class="contact-area pt-120 pb-83"style="margin-top:-100px;height:700px;">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="contact-info">
                            <h2>Contactez-Nous</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="single-info mb-30">
                                    <div class="info-icon">
                                        <i class="icon-map-pin"></i>
                                    </div>
                                    <div class="info-content">
                                            <h3>Adresse :</h3>
                                            <p>09, Rue Jean Mermoz, 3e étage, Dakar Plateau, Dakar, Senegal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="icon-phone"></i>
                                    </div>
                                    <div class="info-content">
                                            <h3>Telephone :</h3>
                                            <p> +221 33-822-20-04 </br>
                                                {# +221 77-936-46-51 </br>
                                                +221 76-272-06-37 #}
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single-info">
                                    <div class="info-icon">
                                        <i class="icon-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                            <h3>Mail :</h3>
                                            <p>info.senegal@enablis.org</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="touch">
                            <h2>Contact</h2>
                            <form id="contact-form" action="" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" id="name" placeholder="Nom *">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="email" id="email" placeholder="Email *">
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" name="subject" id="subject" placeholder="Sujet *">
                                            <textarea name="message" id="message" cols="15" rows="4" placeholder="Message *"></textarea>
                                        </div>
                                    </div>
                                    <input class="btn-primary" type="submit" value="Envoyer" style="color:white;">
                                </form>
                        </div>
                    </div>
                    {# <div class="col-md-6">
                        <div class="map-area">
                                <!-- google-map-area start -->
                                <div class="google-map-area">
                                    <!--  Map Section -->
                                    <div id="contacts" class="map-area">
                                        <div id="googleMap" style="width:100%;height:633px;"></div>
                                    </div>
                                </div>
                            </div>
                    </div> #}
                </div>
            </div>
            </section>
       
        {% endblock %}
        <!-- Contact End -->
       {% block javascripts %}
        <script src="{{ asset('contact/js/vendor/jquery-1.12.0.min.js')}}"></script>
        <script src="{{ asset('contact/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('contact/js/jquery.meanmenu.js')}}"></script>
        <script src="{{ asset('contact/js/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{ asset('contact/js/isotope.pkgd.min.js')}}"></script>
        <script src="{{ asset('contact/js/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{ asset('contact/js/jquery.counterup.min.js')}}"></script>
        <script src="{{ asset('contact/js/waypoints.min.js')}}"></script>
        <script src="{{ asset('contact/js/ajax-mail.js')}}"></script>
        <script src="{{ asset('contact/js/owl.carousel.min.js')}}"></script>
        <script src="{{ asset('contact/js/animate-heading.js')}}"></script>
        <script src="{{ asset('contact/js/jquery.mb.YTPlayer.js')}}"></script>
        <script src="{{ asset('contact/js/plugins.js')}}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLSFRa0DyBj9VGzT7GM6SFbSMcG0YNBM "></script> 
        <script type="text/javascript">
            google.maps.event.addDomListener(window, 'load', init);
            function init() {
                var mapOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York
                    styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
                };
                var mapElement = document.getElementById('googleMap');
                var map = new google.maps.Map(mapElement, mapOptions);
                var marker = new google.maps.Marker({
                    position: map.getCenter(),
                    animation:google.maps.Animation.BOUNCE,
                    icon: 'img/map-marker.png',
                    map: map
                });
            }
        </script>
        <script src="{{ asset('contact/js/main.js')}}"></script>
        {% endblock %}
        {% endblock %}
    </body>
</html>


